<!doctype html>
<html>
<head>
</head>
<body>
<h2 style="text-align: center;">RFT Controller</h2>
{% for message in form.gid.errors %}
<div>{{ message }}</div>
{% endfor %}
{% for message in form.pid.errors %}
<div>{{ message }}</div>
{% endfor %}
<!--
<form action="192.168.185.2:5000/control" method=post>
<form action="http://localhost:5000/control" method=post>
{% for subfield in form.rxtx %}
<tr>
    <td>{{ subfield }}</td>
    <td>{{ subfield.label }}</td>
</tr>
{% endfor %}
<div class="">
  {{ form.rxtx.label }} {{ form.rxtx }}
</div>
<div class="">
  {{ form.sub.label }} {{ form.sub }}
</div>
-->
{% for message in get_flashed_messages() %}
<div class="alert alert-warning">
<button type="button" class="close" data-dismiss="alert">&times;</button>
{{ message }}
</div>
{% endfor %}

<form action = '' method = post>
<fieldset>
<legend>Control Form</legend>
{{ form.hidden_tag() }}
<div style=font-size:20px;font-weight:bold;margin-left:50px;>
  {{ form.gid.label }}{{ form.gid }}<br>
  {{ form.pid.label }}{{ form.pid }}<br>
  {{ form.level.label }}{{ form.level }}<br><br>

  <h3>RxTx Role</h3>
  {% for subfield in form.rxtx %}
  <tr>
      <td>{{ subfield }}</td>
      <td>{{ subfield.label }}</td>
  </tr>
  {% endfor %}<br>

  <h3>Sub Command</h3>
  {% for subfield in form.sub %}
  <tr>
      <td>{{ subfield }}</td>
      <td>{{ subfield.label }}</td>
  </tr>
  {% endfor %}<br>

  {{ form.submit }}
</div>
</fieldset>
</form>
</body>
</html>
